[submodule "extern/sca3s-spec"]
	path = extern/sca3s-spec
	url = https://github.com/scarv/sca3s-spec.git
[submodule "extern/sca3s-share"]
	path = extern/sca3s-share
	url = ssh://git@github.com/scarv/sca3s-share.git
